@import "../../sass/main.scss";


.card{
    border:.3px solid $borderGrey;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    background-color:$altBodyColor;
    &__left{
        position: relative;
        flex:2;
        &--img{
            overflow: hidden;
            width:100%;
            height: 24rem;
            object-fit: cover;
            background-position: center;
            @include respond(tab-land){
                height:19rem;
            }
            @include respond(tab-port){
                height:23rem;
            }
            @include respond(phone){
                height:19rem;
            }
        }

        &--group{
            display: flex;
            position:absolute;
            gap:1rem;
            bottom:1rem;
            left:1rem;
            
            img{
                width:3rem;
                background-size: cover;
                padding:.5rem;
            }
            .link1{
                background-color: #151412a1;
                cursor: pointer;
                border-radius: 4px;
                transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                &:hover{
                    background-color: #ff9900a9;
                }
            }
            .link2{
                background-color: #151412a1;
                cursor: pointer;
                border-radius: 4px;
                transition: all .3s ease-in-out;
                &:hover{
                    background-color: rgba(155, 1, 1, 0.753);
                }
                &:focus,&:active{
                    animation:blink .3s ease-in-out;
                }
                
            }
        }
    }
    &__right{
        flex:3;
        
        .top{
            display: flex;
            justify-content: space-between;
            &__group{
                padding:1rem 2rem;
                display: flex;
                align-items: center;
                gap:1rem;
                @include respond(tab-land){
                    padding:1rem;
                }
                @include respond(tab-port){
                    padding:1rem;
                }
                @include respond(phone){
                    padding:1rem;
                }
                img{
                    width:1.5rem;
                    background-size: cover;
                }
                p{
                    font-size:1.3rem;
                    @include respond(tab-land){
                        font-size:1.1rem;
                    }
                    @include respond(tab-port){
                        font-size:1.3rem;
                    }
                    @include respond(phone){
                        font-size:1.1rem;
                    }
                }
            }

        }
        .middle{
            
            &__title{

                .link{
                    font-size:2.2rem;
                    font-weight: bold;
                    color:$lightGrey;
                    text-decoration: none;
                }
                padding:1.5rem 0 1rem 2rem;
                @include respond(tab-land){
                    padding:1rem 0 0 1rem;
                    font-size:1.5rem;
                }
                @include respond(tab-port){
                    padding:1rem 0 0 1rem;
                    font-size:1.8rem;
                }
                @include respond(phone){
                    padding:1rem 0 0 1rem;
                    font-size:1.5rem;
                }
            }
            &__location{
                font-size:1.4rem;
                padding:0 0 2.5rem 2rem;
                @include respond(tab-land){
                    padding:1rem 0 2rem 1rem;
                    font-size:1.2rem;
                }
                @include respond(tab-port){
                    padding:1rem 0 2rem 1rem;
                    font-size:1.3rem;
                }
                @include respond(phone){
                    padding:1rem 0 2rem 1rem;
                    font-size:1.2rem;
                }
            }
            &__others{
                display: flex;
                width: 100%;
                padding:0 2rem;
                column-gap:3rem;
                @include respond(tab-land){
                    padding:0 0 0 1rem;
                }
                @include respond(tab-port){
                    padding:0 0 0 1rem;
                }
                @include respond(phone){
                    padding:0 0 0 1rem;
                }
                img{
                    width:1.9rem;
                    background-size: cover;
                }
                p{
                    font-size:1.4rem;
                    @include respond(tab-land){
                        font-size:1.2rem;
                    }
                    @include respond(tab-port){
                       font-size:1.4rem;
                    }
                    @include respond(phone){
                        font-size:1.2rem;
                    }
                }
                .shower{
                    display: flex;
                    align-items: center;
                    gap:1rem;
                }
                .bedroom{
                    display: flex;
                    align-items: center;
                    gap:1rem;
                    
                }
                .size{
                    display: flex;
                    align-items: center;
                    gap:1rem;
                    
                }
            }
        }
        .bottomCard{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:3rem 2rem 1rem 2rem;
            @include respond(tab-land){
                padding:2rem 1rem 1rem 1rem;
            }
            @include respond(tab-port){
                padding:2rem 1rem 1rem 1rem;
            }
            @include respond(phone){
                padding:2rem 1rem 1rem 1rem;
            }
            &__left{
                flex:1;
                display: flex;
                align-items: center;
                .type{
                    flex:1;
                    font-size:1.5rem;
                    @include respond(tab-land){
                        font-size:1.2rem;
                    }
                    @include respond(tab-port){
                        font-size:1.4rem;
                    }
                    @include respond(phone){
                        font-size:1.2rem;
                    }
                }
                .rating{
                    flex:1;
                    font-size:1.5rem;
                    @include respond(tab-land){
                        font-size:1.2rem;
                    }
                    @include respond(tab-port){
                        font-size:1.4rem;
                    }
                    @include respond(phone){
                        font-size:1.2rem;
                    }
                }
            }
            &__right{
                flex:1;
                display: flex;
                justify-content: flex-end;
                p{
                    font-size:1.8rem;
                    color:$primaryColor;
                    @include respond(tab-land){
                        font-size:1.4rem;
                    }
                    @include respond(tab-port){
                        font-size:1.4rem;
                    }
                    @include respond(phone){
                        font-size:1.4rem;
                    }
                }
            }
        }
    
    }
}


.imageModal{
position:fixed;
z-index:300;
margin:0 auto;
background-color: rgba(0, 0, 0, 0.685);
width:100%;
height: 100%;
border-radius: 3rem;
top:50%;
left:50%;
transform: translate(-50%, -50%);
.container{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:60rem;
    height: 60rem;
    border-radius: 3rem;
    overflow: hidden;
    .imgCont{
        animation:blinkModal .4s ease-in-out;
        .imgM{
                width:100%;
                object-fit: cover;
                height: 60rem;
            }

    }
        .icons{
            animation:blinkModal 1s ease-in-out;
            position:absolute;
            top:2rem;
            right:2rem;
            cursor: pointer;
            .icon{
                font-size:2.4rem;
                color:$primaryColor;
            }

        }
    }
}

@keyframes blink {
    0%{
        opacity:0;
        transform: scale(0);
    }
    100%{
        opacity:.5;
        transform: scale(1.4);
    }
}

@keyframes blinkModal {
    
    0%{
        opacity:0;
        transform: scale(0);
    }
    100%{
        opacity:1;
        transform: scale(1);
    }
}