@import "../../sass/main.scss";

.property{
    margin-top: 0;


    .propertyIcons{
        position: absolute;
        z-index: 2;
        color:white;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap:1.5rem;
        padding:2rem 4rem 0 0;
        &__back{
            &--link{
            display: flex;
            font-size:1.4rem;
            color:white;
            text-decoration: none;
            align-items: center;
            gap:1rem;
            padding:1rem 2rem;
            justify-content: center;
            // background-color:  rgb(0, 136, 204);
            background-color:$primaryColor;
            transition: all .2s ease-in-out;

            &:hover{
                border:1px solid transparent;
                background-color: rgba(0, 0, 0, 0.293);
            }
            }

        }
        &__share{
            width:4.5rem;
            height: 4.5rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            .iconShare{
                font-size:1.8rem;
            }

            &:hover{
                background-color: rgba(0, 0, 0, 0.293);
            }
        }
    }
    
    &__Text{
        position: absolute;
        top:60%;
        padding:2rem;
        color:white;
        
        .name{
            font-size:5rem;
            text-transform: uppercase;
            font-weight: bold;
        }

        .moreText{
            display: flex;
            align-items: center;
            gap:2rem;
            margin-top: 1rem;
            .state{
                padding:1rem 2rem;
                border:1px solid rgb(203, 32, 39);
                font-size: 1.4rem;
            }
            .rating{
                font-size:1.6rem;
                text-shadow: 0 1px 10px #111;
                display: flex;
                gap:.5rem;
            }
        }
        
    }
}
.property__slider {
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 1s ease-in-out;
    animation-delay: 1m;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
        mask-image: linear-gradient(#ffff, #0000 98%);
    }

    .slider {
        height: 46rem;
        display: flex;
        flex-direction: row;

        &__container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 100%;
                height: 100%;
                position: relative;

                .iconLeft {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    font-size: 7rem;
                    color: white;
                    padding:2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    
                    
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.129);
                        cursor: pointer;

                    }
                }

                .iconRight{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    font-size: 7rem;
                    color: white;
                    padding:2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    
                    
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.37);
                        cursor: pointer;

                    }
                }
            }
        }
    }




}



@keyframes sliderAnimation {

    0%{
        left:0;
    }
    20%{
        left:-100vw;
    }
    40%{
        left:-200vw;
    }
    60%{
        left:-300vw;
    }
    80%{
        left:-400vw;
    }
    100%{
        left:-500vw;
    }
    
}
.propertyShare{
    padding: 50rem 3rem 4rem 0;
    display: flex;
    gap:.5rem;
    justify-content: flex-end;

    @include respond(tab-port){
        flex-wrap: wrap;
    }


    &--button{
        padding:1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:.6rem;
        font-size:1.2rem;
        color:white;

        .icon{
            font-size:1.5rem;
        }

        transition: transform .2s ease-in-out;
        &:hover{
            transform: translateY(5px);
            box-shadow: 0 2px 8px -1px black;
            cursor: pointer;
        }

    }
    .Facebook{
        background-color: rgb(59, 89, 152);
    }
    .Email{
        background-color: grey;
    }
    .Twitter{
        background-color:rgb(29, 161, 242);
    }
    .Pinterest{
        background-color: rgb(203, 32, 39);
    }
    .Whatsapp{
        background-color:rgb(77, 194, 71);
    }
    .Telegram{
        background-color:rgb(0, 136, 204);
    }
    .plus{
        background-color: rgb(255, 101, 80);
    }
    
}